doctype html
html(lang="es")
    head
        title NodeJS
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/assets/css/app.css" rel="stylesheet")
        link(rel='shortcut icon', href='https://camo.githubusercontent.com/ae6c148f364589c80069fcf7e853f082e6c6d363/687474703a2f2f6e6f64656a732d636c6f75642e636f6d2f696d672f31323870782f6e6f64656a732e706e67', type='image/x-icon') 
        //- BootstrapDialog
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css" rel="stylesheet")
        

    body
        nav(class="nav nav-tabs")
            ul(id="ul-nav" class="nav nav-tabs")
                - if (user)
                    li(class="user-name-nav" role="presentation") 
                        a(class="green") #{user.username}
                    li(role="presentation" class="active")
                        a(href="/app" class="green") Mi Perfil
                    li(role="presentation")
                        a(href="/app/imagenes" class="green") Todos los Registros
                    li(role="presentation")
                        a(href="/logout" class="green") Logout
        block Contenido

        script(src="https://code.jquery.com/jquery-3.2.1.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(src="/public/assets/js/app-query.js")
        //- BootstrapDialog
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/js/bootstrap-dialog.min.js")


