extends ../../layout.jade
block Contenido
    div(class="Container" style="width: 45%; margin: 0 auto; padding-top: 25px; box-shadow: 0px 0px 70px #888888; margin-top: 50px;")
        h1(style="margin: 0 auto; text-align: center; padding-bottom: 25px; border-bottom: 1px solid #eee;") Mi Listado de registros

        div(class="scroll-registros")
            -   var count = 0;
                each imagen in imagenes
                    if user.username == imagen.user
                        .border
                            .row
                                .col-md-10.border-r
                                    h3(style="padding: 15px")
                                        a(href="/app/registro/#{imagen._id}" class="green")=imagen.title 
                                .col-md-2.mt-25.text-center
                                    a(href="/app/imagenes/#{imagen._id}/edit" class="green" style="text-decoration: none;") Editar
                                    br
                                    button(onclick="eliminarElemento('#{imagen._id}')", value="Eliminar" class="green") Eliminar
                                    form(action="/app/imagenes/#{imagen._id}?_method=DELETE" class="link hide" method="POST")
                                        button(type="submit", value="Eliminar" class="green") Eliminar
                        -   count++;
                if (count == 0)
                    h1(class="sin-registros") NO POSEE REGISTROS ACTUALMENTE.


        div(class="footer" style="height: 75px; background-color: ghostwhite; padding-top: 15px; padding-left: 15px; padding-right: 15px; border-top: 1px solid #A4A4A4;")
            a(href="/app/imagenes/new" class="btn btn-default" style="margin-left: 15px;") Nuevo Registro
            a(href="/app" class="btn btn-default" style="margin-left: 15px;") Volver
            img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" style="width: auto; height: 50px; margin: 0 auto; display: flex; float: right;")