extends ../../layout.jade
block Contenido
	div(class="Container" style="width: 45%; margin: 0 auto; padding-top: 25px; border: 1px solid #A4A4A4; margin-top: 50px;")
				h1(style="margin: 0 auto; text-align: center;") Registro.
				hr
				h2(style="margin: 0 auto; text-align: center;")= imagen.title
				br
				div(class="text-center")
					p Por: 
						- if (imagen.user == undefined)
							span Sin User
						- else
							span= imagen.user
				div(class="footer" style="margin-top: 35px; height: 75px; background-color: ghostwhite; padding-top: 15px; padding-left: 15px; padding-right: 15px; border-top: 1px solid #A4A4A4;")
					- if (imagen.user == user.username)
						a(href="app/imagenes/new" class="btn btn-default" style="margin-left: 15px;") Nuevo Registro
						a(href="/app/misRegistros" class="btn btn-default" style="margin-left: 15px;") Mis Registros
						a(href="/app/imagenes/#{imagen._id}/edit" class="btn btn-default" style="margin-left: 15px;") Editar
					- else
						a(href="/app/imagenes" class="btn btn-default" style="margin-left: 15px;") Volver
					img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" style="width: auto; height: 50px; margin: 0 auto; display: flex; float: right;")